<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_CouponUrl>
			<version>1.2.0.4</version>
		</Fishpig_CouponUrl>
	</modules>
	<global>
		<blocks>
			<couponurl>
				<class>Fishpig_CouponUrl_Block</class>
			</couponurl>
		</blocks>
		<helpers>
			<couponurl>
				<class>Fishpig_CouponUrl_Helper</class>
			</couponurl>
		</helpers>
		<events>
			<controller_action_predispatch>
				<observers>
					<couponurl>
						<class>Fishpig_CouponUrl_Controller_Router</class>
						<method>checkForUrlParamsObserver</method>
					</couponurl>
				</observers>
			</controller_action_predispatch>
			<controller_front_init_routers>
				<observers>
					<couponurl>
						<class>Fishpig_CouponUrl_Controller_Router</class>
						<method>initControllerRouters</method>
					</couponurl>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<frontend>
		<routers>
			<couponurl>
				<use>standard</use>
				<args>
					<module>Fishpig_CouponUrl</module>
					<frontName>couponurl</frontName>
				</args>
			</couponurl>
		</routers>
		<events>
			<checkout_cart_add_product_complete>
				<observers>
					<couponurl>
						<class>Fishpig_CouponUrl_Helper_Data</class>
						<method>applyCouponAfterAddingProductObserver</method>
					</couponurl>
				</observers>
			</checkout_cart_add_product_complete>
			<controller_action_predispatch>
				<observers>
					<couponurl>
						<class>Fishpig_CouponUrl_Helper_Data</class>
						<method>applyCouponObserver</method>
					</couponurl>
				</observers>
			</controller_action_predispatch>
		</events>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<couponurl>
					<file>couponurl.xml</file>
				</couponurl>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<couponurl>
			<settings>
				<enabled>1</enabled>
				<route>coupon</route>
				<param>coupon</param>
			</settings>
			<success>
				<message>The coupon code %s has been applied.</message>
			</success>
		</couponurl>
	</default>
</config>